[submodule "test/external/SDL"]
	path = test/external/SDL
	url = https://github.com/spurious/SDL-mirror
[submodule "test/external/benchmark"]
	path = test/external/benchmark
	url = https://github.com/google/benchmark
